






/*Imported Icons and Fonts */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    /* Grid */

    --grid-width: calc(100% / 12);
    --col-1: calc(var(--grid-width) * 1);
    --col-2: calc(var(--grid-width) * 2);
    --col-3: calc(var(--grid-width) * 3);
    --col-4: calc(var(--grid-width) * 4);
    --col-5: calc(var(--grid-width) * 5);
    --col-6: calc(var(--grid-width) * 6);
    --col-7: calc(var(--grid-width) * 7);
    --col-8: calc(var(--grid-width) * 8);
    --col-9: calc(var(--grid-width) * 9);
    --col-10: calc(var(--grid-width) * 10);
    --col-11: calc(var(--grid-width) * 11);
    --col-12: calc(var(--grid-width) * 12);

    /* Branding */
    --primary: 	 hsl(231, 53%, 17%);
    --primary-hover:  hsl(231, 53%, 47%);
    --secondary: hsl(211, 56%, 43%);
    --secondary-hover: hsl(211, 56%, 23%);
    --tertiary: hsl(218, 76%, 68%);
    --tertiary-hover: hsl(218, 76%, 88%);
    --font-color: #1d1d1d;

    --black: #222222;
    --gray: #ededed;
    --gray-2:#B0B0B0;
    --white: #f5f5f5;

    /* Typography */
    --base-font-size: 20px;
    --base-scale: 1.25;
    --base-line-height: calc(1em * var(--base-scale) * var(--base-scale));
    --h4-font-size: 1rem;
    --h3-font-size: calc(1rem * var(--base-scale));
    --h2-font-size: calc(1rem * var(--base-scale) * var(--base-scale));
    --h1-font-size: calc(1rem * var(--base-scale) * var(--base-scale) * var(--base-scale));
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
    display:flex;
    flex-direction: column;
    line-height: var(--base-line-height);
    min-height: 100vh;
    
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

#main-page, .navbar {
    margin: 10vh auto;
    width: 80%;
}
/* #main-page {
    margin: 10vh auto;
    max-width: 70ch;
} */
#main-page h2 {text-align:center;}

/*Change content page width on bigger screens*/

@media screen and (min-width:768px){
    #main-page {
        max-width: 70ch;
    }

    * {
        font-size: var(--base-font-size) * 1.5;
    }
}

/*List Styles*/
ul {
    list-style-type: none;
    padding: 0;
}

li > a {
    text-decoration: none;
}

/*Case Studies*/
ul.case {
    list-style-type: circle;
    margin-left: 5%;
}

/*Table of Content Styles*/

.table-of-contents {
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

.table-of-contents h3, ol, .table-of-contents a {
    color: var(--white);
    margin-left: 5%;
}
.table-of-contents a {
    text-decoration:underline;
}
/*Image Styles*/
.navbar img {
    max-height: 150px;
}
.single-article img {
    object-fit:cover;
    max-height: 150px;
}
/*End of Image Styles */
/* Navigation Styles */
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    background-color: var(--primary);
    width: 100%;
    margin: 0;
    position:sticky;
    top: 0;
    font-weight: bold;
    z-index: 1;
}
.navbar-brand > img {
    display: block;
    overflow: hidden;
    width: 10rem;
    height: 4rem;
  /*  text-indent: -9999px; */
    text-decoration: none;
}

.navbar-toggler {
   /* background-color: var(--primary);
    border: 0 none;
    color: white; */
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navigation {
    flex: 0 0 100%;
}

.navigation.collapse .navbar-nav {
    display: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
}

.navbar-nav li > a {
    color: var(--white);
    display: block;
    overflow: hidden;
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.navbar-nav li.active > a {
    color: var(--tertiary-hover);
    border-bottom-color: var(--tertiary-hover);
}

.navbar-nav li > a:hover {
    color: var(--tertiary-hover);
    border-bottom: 2px solid var(--tertiary-hover);
}


.dropdown-toggle::after {
    content: "\f0d8";
    font-family: "FontAwesome";
    font-weight: 400;
    margin-left: var(--base-line-height);
}

.collapse .dropdown-toggle::after {
    content: "\f0d7";
}

.dropdown.collapse .dropdown-menu {
    display: none;
}

.dropdown-menu {
    background-color: var(--tertiary-hover);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1;
}

.dropdown-menu > a {
    flex: 1 0 100%;
    color: var(--primary);
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    text-decoration: none;
}

.dropdown-menu > a:hover {
   color: var(--primary-hover);
   font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

@media screen and (min-width: 768px){
    .navbar-toggler {
        display: none;
    }

    .navigation {
        flex: 0 0 auto;
    }

    .navigation.collapse .navbar-nav,
    .navbar-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: flex-end;
        align-content: flex-end;
    }

    .dropdown-menu {
        position: absolute;
    }
}



/* End of Navigation Styles */

/* Button Styles */

.hero-buttons {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.hero-buttons button {
    margin-bottom: 5%;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
    padding: 2%;
}

.btn-secondary {
    background-color: var(--secondary);
    border: none;
    padding: 10px;
    letter-spacing: 0.3px;
}
.btn-primary > a {
    text-decoration: none;
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn-secondary > a {
    text-decoration: none;
    color: var(--white);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover);
}

@media screen and (min-width: 768px) {


.inline.social-media > li > a > i {
    color: var(--white);
}

    /* Button Hover Styles */
    .btn-secondary:hover {
        background-color: var(--white);
        color: var(--primary);
        cursor: pointer;
    }
    .bottom-page-2 .btn-secondary:hover {
        background-color: var(--white);
        color: var(--primary);
    }

    .inline.social-media > li > a > i:hover {
        color: var(--gray-2);
        cursor: pointer;
    }
}
/* End of Button Styles */

/* Heading Styles */
h1, h2, h3, h4, h5 {
    color: var(--primary);
}
/* End of Heading Styles */ 

/* Link Styles */

a {
    color: var(--primary);
    padding:5px;
}


ul.inline.social-media > li > a:hover {
    border: none; /*Removes hover border on social media icons*/
}

 .unstyled.footer-nav a:hover {
    background-color: var(--white);
    color: var(--primary);


}
/* End of Link Styles */

/* Article Styles */
.intro > img, .single-article > img, .hire-me > img {
    align-self: center;
    padding: 0;
}

.intro {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 35px;
    margin-bottom: 15%;
}

.intro.home {
    background: url(../images/hero-placeholder.png) no-repeat center 50px;
    background-position-y:45%;
    background-size: 100% 100%;
    min-height: 60vh;
    justify-content: space-around;
}

.intro.home h1, .intro.home p {
    color: var(--white);
    padding: 10px;
}

.article-section {
    margin-top: 35px;
}

.single-article {
    display: flex;
    flex-flow: column wrap;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 25px;
}

.hire-me {
    display: flex;
    flex-flow: column wrap;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 25px;
}

@media screen and (min-width:768px){
    .intro.home {
        font-size:150%;
        flex-flow: row wrap;
    }
    .md-articles{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .two-col-layout {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .single-article {
        display: flex;
        flex-flow: column nowrap;
    }
    .article-section {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
@media screen and (min-width:992px){
    .intro {
        display:flex;
        flex-flow:column nowrap;
        justify-content: space-between;
    }

    .intro > img {
        max-width: var(--col-lg-5)
    }
    .article-section {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width:1300px) {
    .intro.home {
        background-position-y: 50%;
        background-size: 100%;
    }
}

/*End of Article Styles */

/*Video Styles*/
video {
    display:block;
    margin: 0 auto;
}
/*Resume Styles */
    .resume-bullet {
        list-style-type:square;
        margin-left: 5vw;

    }
    .role h4 {
        color: var(--primary-hover);

    }
    .course-skills-section ul {
        list-style-type: disc;
    }
/*End of Resume Styles */

/* Footer Styles */
.bottom-page-1 {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--gray-2);
}

.bottom-page-1 .bottom-nav {
    margin: 0 auto;
    width: 80%;
}

.bottom-page-2 {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--primary);
    color:var(--white);
}

.bottom-page-2 h3, .bottom-page-2 h4, .bottom-page-2 p .bottom-page-2 a, .bottom-page-2 i {
    color: var(--white);
}

footer {
    margin: 0 auto;
    width: 80%;
}


.bottom-nav > p { 
    padding: 0;
}
.bottom-nav > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
}

.bottom-nav > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-nav > ul > li > a {
    text-decoration: none;
    margin-top: 5px;
    background-color: var(--white);
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 0.3px;
    border: 2px solid var(--white);
}

.container.company-details {
    padding: 0;
}

ul.unstyled.footer-nav {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20%;
    display: flex;
    flex-flow: column wrap;
}

ul.unstyled.footer-nav > li {
    padding-top: 10px;
    padding-bottom: 10px;
 }
ul.unstyled.footer-nav > li > a {
    text-decoration: none;
    margin-top: 5px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
    letter-spacing: 0.3px;
    border: 2px solid var(--white);
}

ul.unstyled.footer-nav a:hover {
    color: var(--primary);
    background-color: var(--white);
}


.col-md-12.col-lg-6 > form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    height: 20vh;
}

.form-group.row .col-sm-12 {
    padding:0px;
} 
/* format footer form*/

form .col-xs-12 {
    padding: 0;
}


#subscribe {
    padding: 2%;
}
.copyright {
    margin-top: 20%;
}

.copyright  .row {
    margin: 0 auto;
    width: 80%;
}
.copyright > .container {
    padding: 0;
}

.copyright > .container > .row {
    margin: 0;
}

.col-xs-12.col-md-8 {
    padding: 0;
}

.col-xs-12.col-md-8 > p {
    height: 20vh;
    text-align: center;
    font-weight: bold;
}

ul.inline.social-media {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    font-size: var(--h2-font-size);
}
/*footer for tablets and desktop*/ 
@media screen and (min-width: 768px) {
    .company-details > .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;

    }
    .copyright .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}


/* End of Footer Styles */ 


/* Grid System */
.container-fluid, 
.container {

    width: 100%;
    padding-left: 1rem;
    padding-righT: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 576px){
    .container {max-width:576px; }
    .lorem-articles {
        display:flex;
        flex-flow:column wrap;
        align-content:center;
        justify-content:center;
    }
    .md-second-row {
        display:flex;
    }
    .md-third-row {
        display:flex;
    }
}

@media screen and (min-width: 768px){
    .container {max-width:768px; }
    
    .lg-second-row {
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    .md-second-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    }

@media screen and (min-width: 992px){
    .container {max-width:992px; }
}

@media screen and (min-width: 1200px){
    .container {max-width:1200px; }
}

.row {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -1rem;
    margin-right: -1rem;
    row-gap: 1rem;
}

.column {
    flex: 0 0 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 10px;
}

.mult-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

/* [class^="col-"] {
    padding: 0 1rem;
    width: 100%;
    max-width: 100%;
} */

.col-xs-1 {
    flex: 0 0 var(--col-1);
    min-width: var(--col-1);
    max-width: var(--col-1);
   
}

.col-xs-2 {
    flex: 0 0 var(--col-2);
    min-width: var(--col-2);
    max-width: var(--col-2);
    
}

.col-xs-3 {
    flex: 0 0 var(--col-3);
    min-width: var(--col-3);
    max-width: var(--col-3);
    
}

.col-xs-4 {
    flex: 0 0 var(--col-4);
    min-width: var(--col-4);
    max-width: var(--col-4);
    
}

.col-xs-5{
    flex: 0 0 var(--col-5);
    min-width: var(--col-5);
    max-width: var(--col-5);
 
}

.col-xs-6 {
    flex: 0 0 var(--col-6);
    min-width: var(--col-6);
    max-width: var(--col-6);
    
}

.col-xs-7 {
    flex: 0 0 var(--col-7);
    min-width: var(--col-7);
    max-width: var(--col-7);
    
}

.col-xs-8 {
    flex: 0 0 var(--col-8);
    min-width: var(--col-8);
    max-width: var(--col-8);
    
}

.col-xs-9 {
    flex: 0 0 var(--col-9);
    min-width: var(--col-9);
    max-width: var(--col-9);
    
}

.col-xs-10 {
    flex: 0 0 var(--col-10);
    min-width: var(--col-10);
    max-width: var(--col-10);
    
}

.col-xs-11 {
    flex: 0 0 var(--col-11);
    min-width: var(--col-11);
    max-width: var(--col-11);
    
}

.col-xs-12 {
    flex: 0 0 var(--col-12);
    min-width: var(--col-12);
    max-width: var(--col-12);
    
}


/* Styles for 'col-md-...' grid */
@media screen and (min-width: 768px){
    .col-md-1 {
        flex: 0 0 var(--col-1);
        min-width: var(--col-1);
        max-width: var(--col-1);
       
    }
    
    .col-md-2 {
        flex: 0 0 var(--col-2);
        min-width: var(--col-2);
        max-width: var(--col-2);
       
    }
    
    .col-md-3 {
        flex: 0 0 var(--col-3);
        min-width: var(--col-3);
        max-width: var(--col-3);
        
    }
    
    .col-md-4 {
        flex: 0 0 var(--col-4);
        min-width: var(--col-4);
        max-width: var(--col-4);
        
    }
    
    .col-md-5{
        flex: 0 0 var(--col-5);
        min-width: var(--col-5);
        max-width: var(--col-5);
       
    }
    
    .col-md-6 {
        flex: 0 0 var(--col-6);
        min-width: var(--col-6);
        max-width: var(--col-6);
        
    }

    .col-md-7 {
        flex: 0 0 var(--col-7);
        min-width: var(--col-7);
        max-width: var(--col-7);
        
    }

    .col-md-8 {
        flex: 0 0 var(--col-8);
        min-width: var(--col-8);
        max-width: var(--col-8);
    }

    .col-md-9 {
        flex: 0 0 var(--col-9);
        min-width: var(--col-9);
        max-width: var(--col-9);
        
    }

    .col-md-10 {
        flex: 0 0 var(--col-10);
        min-width: var(--col-10);
        max-width: var(--col-10);
        
    }

    .col-md-11 {
        flex: 0 0 var(--col-11);
        min-width: var(--col-11);
        max-width: var(--col-11);
        
    }

    .col-md-12 {
        flex: 0 0 var(--col-12);
        min-width: var(--col-12);
        max-width: var(--col-12);
        
    }
}

/* Styles for 'col-lg-...' grid */
@media screen and (min-width: 992px){
    .col-lg-1 {
        flex: 0 0 var(--col-1);
        min-width: var(--col-1);
        max-width: var(--col-1);
       
    }
    
    .col-lg-2 {
        flex: 0 0 var(--col-2);
        min-width: var(--col-2);
        max-width: var(--col-2);
       
    }
    
    .col-lg-3 {
        flex: 0 0 var(--col-3);
        min-width: var(--col-3);
        max-width: var(--col-3);
        
    }
    
    .col-lg-4 {
        flex: 0 0 var(--col-4);
        min-width: var(--col-4);
        max-width: var(--col-4);
        
    }
    
    .col-lg-5{
        flex: 0 0 var(--col-5);
        min-width: var(--col-5);
        max-width: var(--col-5);
       
    }
    
    .col-lg-6 {
        flex: 0 0 var(--col-6);
        min-width: var(--col-6);
        max-width: var(--col-6);
        
    }

    .col-lg-7 {
        flex: 0 0 var(--col-7);
        min-width: var(--col-7);
        max-width: var(--col-7);
        
    }

    .col-lg-8 {
        flex: 0 0 var(--col-8);
        min-width: var(--col-8);
        max-width: var(--col-8);
        
    }

    .col-lg-9 {
        flex: 0 0 var(--col-9);
        min-width: var(--col-9);
        max-width: var(--col-9);
        
    }

    .col-lg-10 {
        flex: 0 0 var(--col-10);
        min-width: var(--col-10);
        max-width: var(--col-10);
        
    }

    .col-lg-11 {
        flex: 0 0 var(--col-11);
        min-width: var(--col-11);
        max-width: var(--col-11);
        
    }

    .col-lg-12 {
        flex: 0 0 var(--col-12);
        min-width: var(--col-11);
        max-width: var(--col-12);
        
    }
}

/*End of Grid System*/

/* Window Size Styles */
#windowSize {
    padding: 0.25rem 0.5rem;
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    z-index: 10;
}
/* End of Window size styles */